@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);

@alpha: #7f8c8d;
@beta: #EAEBED;
@gamma: #34495e;
@epsilon: #E0F8D8;

html, body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Serif', Arial, serif;
  font-size: 100%;
  background-color: @beta;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 0 0 0 30px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  box-sizing: border-box;
  border-left: 10px solid @epsilon;
  color: @gamma;
}

/* Вспомогательные стили, для статей */
.image-description {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #b2b2b2;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
  margin-right: 1em;
}

header {
  overflow: hidden;
  padding: 2em;
  background-color: @alpha;
  .title {
    font-size: 2em;
    color: @beta;
    text-align: center;
    a {
      color: @beta;
      text-decoration: none;
    }
  }
}

nav {
  width: 100%;
  padding: 1em;
  background-color: #FFF;
  border-bottom: 2px solid @alpha;
  ul {
    padding: 1em;
    li {
      float: left;
      list-style: none;
      a {
        color: @alpha;
        margin-right: 1em;
        text-decoration: none;
        padding: .5em .8em;
        border: 2px solid @beta;
        border-radius: 1em;
        &:hover {
          border-color: @alpha;
        }
      }
    }
  }
}

.clear {
  clear: both;
}

nav,
.container,
.timeline {
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.timeline {
  margin-bottom: 2em;
  &:before {
    background: darken(@beta, 50%);
    content: "";
    left: 50%;
    top: 10px;
    bottom: 0;
    position: absolute;
    width: 2px;
    margin-left: -1px;
    margin-top: -10px;
    height: 9999px;
  }
  .date {
    font-size: .8em;
    position: absolute;
    padding: .3em 1em;
    color: #fff;
    background-color: @alpha;
    border-radius: 1em;
  }
  .more {
    font-size: .8em;
    position: absolute;
    bottom: 0;
    margin: 0 1em;
    text-decoration: none;
    color: darken(@beta, 50%);
    &:hover {
      color: @alpha;
    }
  }
  .title {
    margin: 0;
  }
  &>li {
    position: relative;
    width: 50%;
    display: block;
    list-style: none;
    margin-bottom: 1em;
    clear: both;
    article {
      img{
        max-width: 100%;
        min-width: 100%;
        height: auto;
      }
      background-color: #fff;
      margin-bottom: 2em;
      .content {
        padding: 1em;
      }
      &:before {
        display: block;
        position: absolute;
        right: -.5em;
        top: 2em;
        content: "";
        height: .5em;
        width: .5em;
        border: 4px solid #EAEBED;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        background: @alpha;
      }
    }
    &:nth-child(odd) {
      float: left;
      article {
        margin-top: 4em;
        margin-right: 2em;
        &:before {
        }
        .date {
          top: 2em;
          right: 2.5em;
        }
        .more {
          right: 2em;
        }
      }
    }
    &:nth-child(even) {
      float: right;
      article {
        margin-top: 8em;
        margin-left: 2em;
        &:before {
          top: 5.9em;
          left: -.5em;
        }
        .date {
          top: 7em;
          left: 2.5em;
        }
        .more {
          left: 2em;
        }
      }
    }
  }
}

.post {
  margin: 2em 0;
  padding: 2em;
  border: 1px solid darken(@beta, 5%);
  background-color: #fff;
  .title {
    text-align: center;
  }
}

footer {
  padding: 1em;
  background-color: darken(@beta, 50%);
  .copy {
    color: @beta;
    font-size: .7em;
    a {
      color: @beta;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
