@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Serif', Arial, serif;
  font-size: 100%;
  background-color: #eaebed;
}
img {
  max-width: 100%;
  height: auto;
}
blockquote {
  padding: 0 0 0 30px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  box-sizing: border-box;
  border-left: 10px solid #e0f8d8;
  color: #34495e;
}
/* Вспомогательные стили, для статей */
.image-description {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #b2b2b2;
}
.align-right {
  float: right;
}
.align-left {
  float: left;
  margin-right: 1em;
}
header {
  overflow: hidden;
  padding: 2em;
  background-color: #7f8c8d;
}
header .title {
  font-size: 2em;
  color: #eaebed;
  text-align: center;
}
header .title a {
  color: #eaebed;
  text-decoration: none;
}
nav {
  width: 100%;
  padding: 1em;
  background-color: #FFF;
  border-bottom: 2px solid #7f8c8d;
}
nav ul {
  padding: 1em;
}
nav ul li {
  float: left;
  list-style: none;
}
nav ul li a {
  color: #7f8c8d;
  margin-right: 1em;
  text-decoration: none;
  padding: .5em .8em;
  border: 2px solid #eaebed;
  border-radius: 1em;
}
nav ul li a:hover {
  border-color: #7f8c8d;
}
.clear {
  clear: both;
}
nav,
.container,
.timeline {
  overflow: hidden;
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.timeline {
  margin-bottom: 2em;
}
.timeline:before {
  background: #646974;
  content: "";
  left: 50%;
  top: 10px;
  bottom: 0;
  position: absolute;
  width: 2px;
  margin-left: -1px;
  margin-top: -10px;
  height: 9999px;
}
.timeline .date {
  font-size: .8em;
  position: absolute;
  padding: .3em 1em;
  color: #fff;
  background-color: #7f8c8d;
  border-radius: 1em;
}
.timeline .more {
  font-size: .8em;
  position: absolute;
  bottom: 0;
  margin: 0 1em;
  text-decoration: none;
  color: #646974;
}
.timeline .more:hover {
  color: #7f8c8d;
}
.timeline .title {
  margin: 0;
}
.timeline > li {
  position: relative;
  width: 50%;
  display: block;
  list-style: none;
  margin-bottom: 1em;
  clear: both;
}
.timeline > li article {
  background-color: #fff;
  margin-bottom: 2em;
}
.timeline > li article img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.timeline > li article .content {
  padding: 1em;
}
.timeline > li article:before {
  display: block;
  position: absolute;
  right: -0.5em;
  top: 2em;
  content: "";
  height: .5em;
  width: .5em;
  border: 4px solid #EAEBED;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #7f8c8d;
}
.timeline > li:nth-child(odd) {
  float: left;
}
.timeline > li:nth-child(odd) article {
  margin-top: 4em;
  margin-right: 2em;
}
.timeline > li:nth-child(odd) article .date {
  top: 2em;
  right: 2.5em;
}
.timeline > li:nth-child(odd) article .more {
  right: 2em;
}
.timeline > li:nth-child(even) {
  float: right;
}
.timeline > li:nth-child(even) article {
  margin-top: 8em;
  margin-left: 2em;
}
.timeline > li:nth-child(even) article:before {
  top: 5.9em;
  left: -0.5em;
}
.timeline > li:nth-child(even) article .date {
  top: 7em;
  left: 2.5em;
}
.timeline > li:nth-child(even) article .more {
  left: 2em;
}
.post {
  margin: 2em 0;
  padding: 2em;
  border: 1px solid #dcdee1;
  background-color: #fff;
}
.post .title {
  text-align: center;
}
footer {
  padding: 1em;
  background-color: #646974;
}
footer .copy {
  color: #eaebed;
  font-size: .7em;
}
footer .copy a {
  color: #eaebed;
  text-decoration: none;
}
footer .copy a:hover {
  text-decoration: underline;
}
