<!doctype html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.url}}/css/style.css"/>
</head>
<body>
<header>
    <section class="container">
        <h1 class="title">{% if page.url == "/index.html" %}{{ site.name }}{% else %}<a href="{{ site.url }}">{{ site.name }}</a>{% endif %}</h1>
    </section>
</header>
<nav>
    <ul class="container">
        <li><a href="{{ site.url }}">Главная</a></li>
        <li><a href="{{ site.url }}/about">О проекте</a></li>
    </ul>
</nav>
<div class="clear"></div>

