{% include header.html %}

<section class="container">
    <ul class="timeline">
        {% for post in site.posts %}
        <li>
            <article>
                <div class="date">{{ post.age }}</div>
                {% if post.cover %}<a href="{{ post.url }}"><img src="{{ site.url }}/images/{{ post.cover }}" alt="{{ post.title }}"/></a>{% endif %}
                <div class="content">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.description }}</p>
                </div>
                <a href="{{ post.url }}" class="more">Читать подробнее</a>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>


{% include footer.html %}