{% include header.html %}

<section class="container">
    <div class="post">
        <h1 class="title">{{ page.title }}</h1>
        <p>{{ content }}</p>
    </div>
</section>

{% include footer.html %}